.flow-box {
	margin: 20px;
}

.timer-entry {
	font-size: 56px;
	line-height: 56px;
}

.preset-lbl {
	font-size: 15px;
	padding: 8px 8px;
	margin: 0;
}

.control-btn {
	border-radius: 12px;
	padding: 6px 20px;
	margin: 16px 0;
}

.prefs-btn, .exit-btn {
	padding: 4px 12px;
	opacity: .5;
}

.prefs-btn:hover {
	opacity: .75;
}

.footer {
	margin: 0 24px;
}

.entry {
	background-color: transparent;
}

.title-box {
	margin: 12px 6px 0 8px;
}

.title-entry {
	margin: 0;
	font-size: 16px;
	opacity: 0.6;
	outline: none;
}

.semicolon {
	font-size: 32px;
	color: #999;
}

.prefs-inner {
	padding: 10px 24px 24px;
}

.presets-list {
	border-radius: 8px;
	margin: 12px 0;
}

.presets-list-item {
	padding: 2px 8px;
}

.presets-list-title {
	font-size: 24px;
	padding: 0 8px;
}

/* huh? */
.presets-list-title > * > * {
	background: transparent;
	padding: 12px 0;
}

/* cmon go find the classname */
.presets-list > * {
	padding: 0;
}

.list-btn {
	background: transparent;
	opacity: 0.4;
}

.list-btn:hover {
	opacity: .75;
}

.color-picker-btn {
	margin: 8px 0;
}

.live-preview {
	margin-left: 16px;
}
